<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center light-blue-text">Good Works for You to Do.</h1>
      <div class="row center">
        <h5 class="header col s12 light">A new way to give back while improving your skills.</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">account_balance</i></h2>
            <h5 class="center">Non-Profit Organizations</h5>

            <p class="light">Join here to start the process of getting your project on Tech Builds Miami. Get access to our teams of passionate developers to bring your project to life.</p>
          </div>
            <div class="row center">
                <a href="/users/sign_up/non_profit" id="download-button" class="btn-large waves-effect waves-light green darken-3">For Organizations</a>
            </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">flash_on</i></h2>
            <h5 class="center">Sr. Developers</h5>

            <p class="light">Calling all wizards. Use your powers for a good cause while mentoring Jr. developers in their craft. Let us make sure you have a quality project to work on.</p>
          </div>
            <div class="row center">
                <a href="users/sign_up/wizard" id="download-button" class="btn-large waves-effect waves-light green darken-3">For Wizards</a>
            </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">group</i></h2>
            <h5 class="center">Jr. Developers</h5>

            <p class="light">Just finished a coding bootcamp? Done freelance but never worked directly under an experienced professional? Here's your chance.</p>
          </div>
            <div class="row center">
                <a href="users/sign_up/acolyte" id="download-button" class="btn-large waves-effect waves-light green darken-3">For Acolytes</a>
            </div>
        </div>
      </div>
      </div>
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>