<div class="container">
	<div class="center">
		<h1>Welcome Jr. Dev <%= current_user.name %>!</h1>
			<% if current_user.team_id == nil%>
				<p>Thank you for registrering. Please check back here to see if you've been picked up for a project.</p>
			<% else %>
				<h2>Congratulations! You've been chose for a project</h2>
				<a href="/projects/<%= @project.id %>" class="btn">Take me to my project.</a>
			<% end %>
	</div>
</div>