<div class="container">
	<div class="center">
		<h1>Non Profit Welcome</h1>
	</div>
	<div class="row">
		<div class="col s12 m4">
			<div class="center">
				<p>
					Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
				</p>
				<a href="/proposals/new" class="waves-effect waves-light btn-large">Create Proposal</a>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="center">
				<p>
					Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
				</p>
				<a href="/projects" class="waves-effect waves-light btn-large">View Project</a>
			</div>	
		</div>	
		<div class="col s12 m4">
			<div class="center">
				<p>
					Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
				</p>
				<a href="/proposals" class="waves-effect waves-light btn-large">View Proposals</a>
			</div>	
		</div>
	</div>
</div>